---
import Header from "@/components/Header";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2
    class="font-bold text-2xl text-black"
    style="max-width: 800px; margin: 24px auto;"
  >
    Welcome to Secret Forest
  </h2>
  <p class="text-gray-700 text-lg" style="max-width: 800px; margin: 24px auto;">
    The Secret Forest is a collection of stories and other creative works.
    Explore the stories, step into another world, and let your imagination run
    wild. Whether you're looking for a quick read or an immersive experience,
    there's something here for everyone.
  </p>
  <h3
    class="font-bold text-xl text-black"
    style="max-width: 800px; margin: 24px auto;"
  >
    Featured Stories
  </h3>
  <div style="max-width: 800px; margin: 24px auto;">
    <Welcome />
  </div>
</Layout>
