---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import { ListStories } from "../components/ListStories";
---

<div id="container">
  <ListStories />
</div>
