---
import Header from "@/components/Header";

const url = Astro.request.url;
const path = new URL(url).pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Secret Forest</title>
  </head>
  <body>
    <Header params={{ path }} />
    <slot />
  </body>
</html>

<style>
  @import "../../global.css";
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    background: #eeeeee;
  }
</style>
